@if(cartItemsList.length >0){
  <div class="container">
    <div class="row">

      <div class="col-6">

        @for (item of cartItemsList; track $index) {

          <mat-card appearance="outlined" class="mt-4">



              <mat-card-content>

                  <div class="row">
                    <div class="col-6">

                      <img [src]="item.returnedImg | bytearray2img :'image/jpeg'" class="img-fluid w-100 m-1 p-1" alt="Product Image"  style="height: 300px;">


                    </div>
                    <div class="col-6">

                      <h4 class="card-title">{{item.productname}}</h4>
                      <br>
                      <h5>{{item.price | currency:'INR'}}</h5>
                      <br>
                      <div style="flex: 1; display: flex; align-items: center; justify-content:flex-start; " >
                        <button (click)="decreaseCart(item.userid,item.productid)" mat-icon-button [disabled]="item.quantity == 1">
                          <mat-icon>remove_circle_outline</mat-icon>
                        </button>
                        <span class="mt-2">{{item.quantity}}</span>
                        <button (click)="increaseCart(item.userid,item.productid)" mat-icon-button>
                          <mat-icon>add_circle_outline</mat-icon>
                        </button>
                       </div>
                       <button (click)="deleteCart(item.userid,item.productid)" mat-button style="color: red;">
                        <mat-icon>delete</mat-icon>
                       </button>



                    </div>
                  </div>



              </mat-card-content>

          </mat-card>
        }
      </div>

      <div class="col-6">

        <div class="d-flex justify-content-end">

                      <mat-card appearance="outlined" class="mt-5" style="width: 400px;">
                        <mat-card-content class="pb-0">
                          <div>
                            <span><strong>Total Amount : {{order.totalAmount | currency:'INR' }}</strong></span>
                          </div>
                          <div>
                            <span><strong>Payable Amount : {{order.amount| currency:'INR' }}</strong></span>
                          </div>


                          <form [formGroup]="couponform">
                            <div class="mb-3 mt-3">

                              <input type="text" class="form-control" formControlName="coupon" id="content" placeholder="Coupon" name="uname"
                                required>

                            </div>
                            <div class="d-flex justify-content-end">

                              <button (click)="applyCoupon()" [disabled]="couponform.invalid" class="btn btn-primary">Apply Coupon</button>
                            </div>

                          </form>
                          @if(order.couponname!=null){
                            <span> <strong>Applied Coupon : {{order.couponname}}</strong></span>
                          }

                          @if(cartItemsList.length>0){

                            <div class="d-flex justify-content-end mt-4 mb-2 align-items-end">

                              <button  mat-raised-button color="primary" (click)="placeorder()">Place Order</button>
                            </div>
                          }
                        </mat-card-content>
                      </mat-card>

        </div>

      </div>

    </div>

  </div>
}
@else {
  <div class="d-flex justify-content-center align-items-center mt-5">

    <mat-icon>remove_shopping_cart</mat-icon>
    <span>Cart is Empty</span>
  </div>
}



