<div class="container" style="width: 400px;">

  <div class="card p-4 mt-4">
    <div class="row">
      <div class="col-12">

        <h5 class="text-center">FAQ</h5>
        <form [formGroup]="faqform" >

          <div class="m-2">

            <input class="mb-2" type="text" class="form-control" formControlName="question" id="question" placeholder="Question" name="question" required>
          </div>

          <div class="m-2">

            <input class="mb-2" type="text" class="form-control" formControlName="answer" id="answer" placeholder="Answer" name="answer" required>
          </div>



          <div class="d-flex justify-content-center">

            <button (click)="postfaq()"  [disabled]="faqform.invalid" class="btn btn-primary">Submit</button>
          </div>

        </form>

      </div>
    </div>

  </div>
</div>

