
@if(!isAdminLoggedIn && !isEmployeeLoggedIn){
  <div>
    <mat-toolbar class="d-flex justify-content-between align-items-center bg-primary">
        <span class="fw-bold text-white ms-2">Ecommerce</span>
        <div>
          <button mat-fab extended class="bg-primary text-white m-2" routerLink="/register">
           Register
          </button>
          <button mat-fab extended class="bg-primary text-white m-2" routerLink="/login">
            Login
          </button>
        </div>
    </mat-toolbar>
  </div>

}

@if(isAdminLoggedIn){
  <div >
    <mat-toolbar class="d-flex justify-content-between align-items-center bg-primary">
        <span class="fw-bold text-white ms-2">Ecommerce</span>
        <div>
          <button mat-fab extended class="bg-primary text-white m-2" routerLink="/admin/dashboard">
           Admin Dashboard
          </button>
          <button mat-fab extended class="bg-primary text-white m-2" routerLink="/admin/analytics">
           Analytics
          </button>
          <button mat-fab extended class="bg-primary text-white m-2" routerLink="/admin/category">
           Category
          </button>
          <button mat-fab extended class="bg-primary text-white m-2" routerLink="/admin/product">
           Product
          </button>
          <button mat-fab extended class="bg-primary text-white m-2" routerLink="/admin/orders">
           Orders
          </button>
          <button mat-fab extended class="bg-primary text-white m-2" routerLink="/admin/postcoupon">
           Post Coupon
          </button>
          <button mat-fab extended class="bg-primary text-white m-2" routerLink="/admin/coupons">
            Coupons
           </button>
          <button mat-fab extended class="bg-primary text-white m-2" (click)="logout()">
           Logout
          </button>
        </div>
    </mat-toolbar>
  </div>

}

@if(isEmployeeLoggedIn){
  <div>
    <mat-toolbar class="d-flex justify-content-between bg-primary">
        <span class="fw-bold text-white ms-2">Ecommerce</span>
        <div>
          <button mat-fab extended class="bg-primary text-white m-2" routerLink="/customer/dashboard">
           Customer Dashboard
          </button>
          <button mat-fab extended class="bg-primary text-white m-2" routerLink="/customer/myorders">
           Orders
           </button>
           <button mat-fab extended class="bg-primary text-white m-2" routerLink="/customer/wishlist">
            Wishlist
            </button>
            <button mat-fab extended class="bg-primary text-white m-2" routerLink="/customer/profle">
              Profile
              </button>
          <button mat-fab extended class="bg-primary text-white m-2" (click)="logout()">
            Logout
          </button>
        </div>
    </mat-toolbar>
  </div>

}



<router-outlet></router-outlet>


